<p>&nbsp;</p>

<div class="container">
  <form class="form-horizontal">
    <fieldset>

      <legend>Preencha o Formulário</legend>

      <div class="form-group">
        <label class="col-md-4 control-label" for="nome">Nome</label>
        <div class="col-md-4">
          <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="assunto">Assunto</label>
        <div class="col-md-4">
          <input id="assunto" name="assunto" type="text" placeholder="" class="form-control input-md">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Mensagem</label>
        <div class="col-md-4">
          <textarea class="form-control" id="textarea" name="textarea"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary">Enviar</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>